<nav class="flex flex-row justify-center justify-end-l items-center flex-wrap ph2 pl3-ns pr4-ns">
  <div class="brand flex-auto w-100 w-auto-l self-start tc tl-l">
    <a href="{{root}}">
      <span class="dib ml1 ml0-l">{{blog.title}}</span>
    </a>
  </div>
</nav>
